
<div class="">
  
<div class="card mat-card" > <div><h2 style="text-align: center" style="text-align: center;color:aliceblue;  background-color: black;"  >Proyectos Realizados</h2></div>
<div *ngFor="let dato of habilidad; let i = index"  class="card mb-3" >
    <div>
        <div   style="display: inline-flex;justify-content: center;">
        <div  *ngIf="isAdmin" (click)="mostrar=true" > <a  class="btn btn-right"><i class="fas fa-plus"></i></a></div> 
        <div  *ngIf="isAdmin"  (click)="eliminar(dato.id)"  class="btn btn-edit"  > <a><i class="fas fa-trash"></i></a></div>
        </div>
        </div>
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./assets/argentinaP.webp" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> <u> {{dato.nombreProyecto}} </u>
          </h5>
          <p class="card-text">{{dato.descripcionProyecto}}</p>
        </div>
      </div>
    </div>
  </div>
</div>  
<div class=" mat-card" *ngIf="isAdmin" >
    <div *ngIf="mostrar" >
    <form (ngSubmit)="onCreate()"  novalidate    novalidate #f="ngForm" >
    <div class="form-group">
        <label  for="Agregar titulo del proyecto"> Agregar titulo del proyecto </label> <br>
        <input type="text" class="form-control" id="nombreProyecto" name="nombreProyecto"[(ngModel)]="nombreProyecto"  required />
        
    <label  for="Agregar descripcion del proyecto"> Agregar descripcion del proyecto </label> <br>
    <input type="text" class="form-control" id="descripcionProyecto" name="descripcionProyecto"[(ngModel)]="descripcionProyecto"  required />
    <div style="display:flex;justify-content:center" >
    <button style="margin-top:3%;margin-right: 3%;" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
    <i class="fas fa-pencil-alt"></i> Agregar</button> 
    <button (click)="Salir()"  style="margin-top:3%;" class="btn btn-outline-success btn-block" >
    <i class="fas fa-times-circle"></i> salir </button> 
     </div>
    </div>
    </form>
    </div>
    </div>


</div>
