<div   class="card-title "  >
<div>
<div   *ngFor="let element of datos_experiencia">

<div style="margin-top:3%;">
  <div style="margin-top:-4%;" *ngIf="isAdmin">
    <div    style="margin-right: 30px;" class="d-flex justify-content-end">
    <div  class="btn btn-edit" (click)="mostrar2=true" >  <a   class=" btn btn-right "> <i class="fas fa-plus"></i></a>
    <div  class="btn btn-edit" (click)="eliminar(element.id)" >  <a   class=" btn btn-right "> <i class="fas fa-trash"></i></a>
    </div> 
    </div>
    </div>
    <div (click)="id(element.id)" (click)="mostrar=true" class=" btn btn-edit  d-flex justify-content-end" style="  margin-right:8%;" >  <a class=" btn btn-right "   > <i class="fas fa-pen"></i></a>
    </div>
    </div>

<ul  style="list-style: none;" class="items-list" >
  <li>
<div style="margin-top:5%;"  class="  data-container">
<a  style="text-decoration: none;margin-bottom: 5%;" >
<div   class=" logo-image-container" >
  <div class="ll" >
<img  class="img-fluid" style=" margin-right:5%; width: 130px;  height: 120px;" src="{{element.imagen}}"  alt=""/>
<div style="  margin-left: 10%;  margin-top: 5px;" class="  list-info ">
    <h3 id="h3">  {{ element.empresa}} </h3>
    <p  id="p1"> {{ element.puesto}}  </p>
    <p  id="p1"> {{ element.descripcion}}  </p>
    <h4 id="h4"><span> {{element.fecha_inicio}}  </span> / <span>  {{element.fecha_final}}</span></h4>
</div>
</div>
</div>
</a>
</div>
 </li>
</ul>
</div>


</div>

<div  class=" mat-card" *ngIf="isAdmin"  > 
  <div *ngIf="mostrar"  id="estilo" >
    <div *ngIf="experiencia">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"  >
    <div  class="form-group">
      <label for="empresa">empresa :  </label>
      <input  type="text" name="empresa" id="empresa" placeholder="pone la empresa" class="form-control" [(ngModel)]="experiencia.empresa" required >
      <label for="puesto">puesto : </label> <br>
      <input  type="text" name="puesto" id="puesto" placeholder="pone  el puesto" class="form-control" [(ngModel)]="experiencia.puesto"  required >
      <label  for="fecha de inicio">fecha de inicio : </label> <br>
      <input  type="text" name="fecha_inicio" id="fecha_inicio"  class="form-control" placeholder="pone la fecha de inico" [(ngModel)]="experiencia.fecha_inicio"  required >
      <label for="fecha final">fecha final  : </label> <br>
      <input type="text" name="fecha_final" id="fecha_final"  placeholder="pone la fecha final" class="form-control"  [(ngModel)]="experiencia.fecha_final" required >
      <label for="descripcion">descripcion  : </label> <br>
      <input  type="text" name="descripcion" id="descripcion"  placeholder="pone la descripcion" class="form-control" [(ngModel)]="experiencia.descripcion" required >
      <label for="imagen">imagen  : </label> <br>
      <input  type="text" name="imagen" id="imagen" placeholder="pone la imagen" class="form-control" [(ngModel)]="experiencia.imagen" required >
         <button  (click)="Mostrar()" style="margin-top:3%;" class="btn btn-outline-success btn-block" >
        <i class="fas fa-times-circle"></i> salir </button> 
        <button  style="margin-top:3%;margin-left: 5%;"class="btn btn-outline-success btn-block" [disabled]="!f.valid">
        <i class="fas fa-plus-circle"></i> Actualizar</button>
    </div>
     </form>
  </div>
</div>
</div>


</div>

<div class="mat-card" *ngIf="isAdmin"  > 
  <div *ngIf="mostrar2"  id="estilo" >
  <div>
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm"  >
    <div  class="form-group">
      <label for="empresa">empresa :  </label>
      <input  type="text" name="empresa" id="empresa" placeholder="pone la empresa" class="form-control" [(ngModel)]="empresa" required >
      <label for="puesto">puesto : </label> <br>
      <input  type="text" name="puesto" id="puesto" placeholder="pone  el puesto" class="form-control" [(ngModel)]="puesto"  required >
      <label  for="fecha de inicio">fecha de inicio : </label> <br>
      <input  type="text" name="fecha_inicio" id="fecha_inicio"  class="form-control" placeholder="pone la fecha de inico" [(ngModel)]="fecha_inicio"  required >
      <label for="fecha final">fecha final  : </label> <br>
      <input type="text" name="fecha_final" id="fecha_final"  placeholder="pone la fecha final" class="form-control"  [(ngModel)]="fecha_final" required >
      <label for="descripcion">descripcion  : </label> <br>
      <input  type="text" name="descripcion" id="descripcion"  placeholder="pone la descripcion" class="form-control" [(ngModel)]="descripcion" required >
      <label for="imagen">imagen  : </label> <br>
      <input  type="text" name="imagen" id="imagen" placeholder="pone la imagen" class="form-control" [(ngModel)]="imagen" required >
      <button  (click)="Mostrar2()" style="margin-top:3%;margin-left: 3%;" class="btn btn-outline-success btn-block" >
      <i class="fas fa-times-circle"></i> salir </button> 
      <button  style="margin-top:3%;margin-left: 5%;"class="btn btn-outline-success btn-block" [disabled]="!f.valid">
      <i class="fas fa-plus-circle"></i> Crear</button>
    </div>
     </form>
  </div>
  </div>
</div>
</div>
