<div class="">
  <div   class="card mat-card">

    <div    class="educacion">
     <h2 style="text-align: center;color:aliceblue;  background-color: black;" > <p style="margin-right: 6%;">Educación </p> </h2>
    <div  class="card-title">
   <div style="  margin-left: 10%;  margin-top: 5px;" class="  list-info ">
    <div>
      <app-datos-educacion></app-datos-educacion>
   </div>
   </div>
   </div>
   </div>

   <div  style="margin-top: 5%;"  class="Experiencia">
    <h2  style="text-align: center;color:aliceblue;  background-color: black;"  >  <p style="margin-right: 6%;" >Experiencia </p> </h2>
    <div  class="card-title">
   <div style="  margin-left: 10%;  margin-top: 5px;" class="  list-info ">
   <div >
     <app-datos-experiencia></app-datos-experiencia>
   </div>
   </div>
   </div>

   </div>


  </div>
  </div>
